<style>
    html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
    .top{ background-color: #1c1c52;
        padding-block: 20px;
        text-align: center;
        font-size: 50px;
        color: white;
     }
     
    .formstyle{ margin-top: 30px;
                margin-left: 600px;
           } 
       
    
    </style>
    
    <!DOCTYPE html>
    <html>
    <head>
    <meta charest="utf-8" />
    <title>作業練習</title>
    
    </head>
    <body>
    
    
    <div class="top">失敗頁面</div>
    
    <div class="formstyle">
      <h3>帳號或密碼輸入錯誤</h3>
    
  
   
    </div>
    
    
    
    </div>
    
    
    
    </div>
    
    
    </body>
    
    
    
    
    
    </html>