<style>
    html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
    .top{ background-color: #1c1c52;
        padding-block: 20px;
        text-align: center;
        font-size: 50px;
        color: white;
     }
     
    .formstyle{ margin-top: 30px;
                margin-left: 600px;
           } 
       
    
    </style>
    
    <!DOCTYPE html>
    <html>
    <head>
    <meta charest="utf-8" />
    <title>作業練習</title>
    
    </head>
    <body>
    
    
    <div class="top">歡迎光臨，請輸入帳號密碼</div>
    
    <div class="formstyle">
     <form action="/signin" method="POST">
      帳號 &nbsp; <input type="text" name="a"/><br><br>
      密碼 &nbsp; <input type="text" name="p"/><br><br>
      <button style="margin-left:100px;">登入</button>
     </form>
   
    </div>
    
    
    
    </div>
    
    
    
    </div>
    
    
    </body>
    
    
    
    
    
    </html>